<navigation></navigation>
<sidebar></sidebar>

<div class="centerdiv" style="width:800px;">
<!--
    <textarea id="fb-template"></textarea>
    <form id="rendered-form"></form>
-->
    <button class="btn" id="newbooklet">New Booklet</button>
    
    <table class="table display centerdiv" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="booklet in vm.booklets">
                <td>{{booklet.title}}</td>
                <td>
                    <a class="openBooklet">Open Booklet</a>
                    <div hidden>
                        {{booklet.content}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="openbookletmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:800px"><div class="modal-content">
        <div class="modal-header"><h3 id="modalTitle" class="modal-title"></h3></div>
        <div class="modal-body">
            <textarea id="render"></textarea>
        </div>
    </div></div>
</div>

<div class="modal fade" id="newbookletmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:800px"><div class="modal-content">
        <div class="modal-header"><h3 class="modal-title">Add New Booklet</h3></div>
        <div class="modal-body">
            
            <form ng-submit="vm.onSubmit()" id="newbookletform">
        
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-6 form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="vm.booklet.title">
                    </div>
                </div>
                
                <div class="row" style="padding: 0 20px">
                    <textarea id="fb-template"></textarea>
                </div>

            </form>
            
            
        </div>
    </div></div>
</div>