.row
    .checkout-wrap.col-md-7.col-sm-12.col-xs-12.pull-right
    ul.checkout-bar
        li.active
            a(href="#get-started", data-toggle="tab")
        li
            a(href="#about-you", data-toggle="tab")
        li
            a(href="#looking-for", data-toggle="tab")
        li
            a(href="#", data-toggle="tab")
        li
            a(href="#", data-toggle="tab")