.row
    .checkout-wrap.col-md-7.col-sm-12.col-xs-12.pull-right
    ul.checkout-bar
        li.active
            a(href="#accountInfo", data-toggle="tab")
        li
            a(href="#venueInfo", data-toggle="tab")
        li
            a(href="#dateInfo", data-toggle="tab")
        li
            a(href="#", data-toggle="tab")
        li
            a(href="#", data-toggle="tab")