extends layout

block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span.sr-only
                        | Toggle navigation
                    span
 
    include modal
    
    #mySidenav.sidenav
        #clockdiv
            div
                span.months
                    | 02
                .smalltext
                    | Months
            div
                span.days
                    | 28
                .smalltext
                    | Days
       
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Venue Details
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Vendor Details
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Guest Details
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Registry
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Inbox
        a
            img.leftnavicon(src="http://mkenyabristol.co.uk/wp-content/uploads/2015/12/free-church-clipart-chrch3.gif")
            | Account Settings

