extends layout

block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span.sr-only
                        | Toggle navigation
                    span
                    span
                    span
                    span
                a.navbar-brand
                    | Brand
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav
                    li.active
                        a(href="#")
                            | Link
                            span.sr-only
                                | (current)
                form.navbar-form.navbar-left(role="search")
                    .form-group
                        input.form-control(type="text", placeholder="Search")
                    button.btn.btn-default(type="Submit", data-toggle="modal", href="#myModal")
                        | Submit
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                            | Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                | Something else here


 
    include modal

    