<link href="../assets/pages/css/invoice.min.css" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="#/dashboard">Dashboard</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#/settings/account">Account</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#/settings/payments">Payments &amp; Subscription</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span> Invoice </span>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->

<div class="row padding-top-20" ng-controller="GeneralPageController">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="invoice">
          <div class="row invoice-logo">
              <div class="col-xs-6 invoice-logo-space">
                  <img src="{{settings.layoutPath}}/img/logo.png" class="img-responsive hidden" alt="" />
                  <h2 class="inline">Vendly Partners, LLC</h2>
                </div>
              <div class="col-xs-6">
                  <p> July 01, 2016
                      <span class="muted"> Invoice #1423 </span>
                  </p>
              </div>
          </div>
          <hr/>
          <div class="row">
              <div class="col-md-7">
                  <h3>Company Information:</h3>
                  <dl class="">
                    <dt class="inline">Business:</dt>
                    <dd class="inline">Vendly Venue</dd><br>
                    <dt class="inline">Address:</dt>
                    <dd class="inline">26614 Cottage Cypress Ln</dd><br>
                    <dt class="inline">Address:</dt>
                    <dd class="inline">Houston, Tx 77433</dd><br>
                    <dt class="inline">Phone:</dt>
                    <dd class="inline">(012) 345-6789</dd><br>
                  </dl>
              </div>
              <div class="col-md-5 invoice-payment">
                  <h3>Payment Details:</h3>
                  <dl class="">
                    <dt class="inline">Account Name:</dt>
                    <dd class="inline">Vendly Venue</dd><br>
                    <dt class="inline">Account Number:</dt>
                    <dd class="inline">28-43571</dd><br>
                    <dt class="inline">Credit Card:</dt>
                    <dd class="inline">Visa | XXX-XXX-XXXX-4444</dd><br>
                    <dt class="inline">Expiration:</dt>
                    <dd class="inline">04/2019</dd><br>
                  </dl>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                      <thead>
                          <tr>
                            <th style="width: 5%;"> # </th>
                            <th style="width: 18%;"> Item </th>
                            <th style="width: 67%;"> Description </th>
                            <th style="width: 10%;"> Total </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td> 1 </td>
                              <td> Subscription </td>
                              <td> Basic Subscription (Annual)</td>
                              <td> $60 </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="row">
            <table style="width: 95%; height: 110px; margin: 0 auto;">
              <tr>
                <td rowspan="2">
                  <address>
                    <strong>Vendly Partners, LLC</strong>
                    <br/> 320 T C Jester Blvd, Suite 267
                    <br/> Houston, TX 77007
                    <br/><abbr title="Phone">P:</abbr> (832) 922-7140
                    <br/><abbr title="Email">E:</abbr> info@vendly.com
                  </address>
                  <address>
                    <strong>Billing</strong>
                    <br/>
                    <a href="mailto:billing@vendly.com"> billing@vendly.com </a>
                  </address>
                </td>
                <td style="text-align: right;">
                  <strong>Grand Total:</strong> $60
                </td>
              </tr>
              <tr>
                <td style="text-align: right; vertical-align: bottom;">
                  <a class="btn btn-lg default hidden-print margin-bottom-5" onclick="javascript:window.close();"> Close
                    <i class="fa fa-times"></i>
                  </a>
                  <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();"> Print
                    <i class="fa fa-print"></i>
                  </a>
                </td>
              </tr>
            </table>
        </div>
      </div>
  </div>
</div>
</div>
