<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard">Dashboard</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <span>Account</span>
      </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img src="{{settings.layoutPath}}/img/avatar.png" class="img-responsive" alt="Vendly Venue" style="max-width: 130px;">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name"> Vendly Venue </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->

          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li>
                <a href="#/account/settings">
                  <i class="fa fa-home"></i> Account
                </a>
              </li>
              <li>
                <a href="#/account/employees">
                  <i class="fa fa-user"></i> Employees
                </a>
              </li>
              <li class="active">
                <a href="#/account/preferred">
                  <i class="fa fa-building"></i> Preferred Businesses
                </a>
              </li>
              <li>
                <a href="#/account/notifications">
                  <i class="fa fa-bell"></i> Notifications
                </a>
              </li>
              <li>
                <a href="#/account/payments">
                  <i class="fa fa-credit-card"></i> Payments &amp; Subscription
                </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light ">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
					