<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard">Dashboard</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <span>Account</span>
      </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img src="{{settings.layoutPath}}/img/avatar.png" class="img-responsive" alt="Jane Doe" style="max-width: 130px;">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name"> Vendly Venue </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->

            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="active">
                        <a href="#settings/account">
                            <i class="fa fa-home"></i> Account </a>
                    </li>
                    <li>
                        <a href="#/settings/notifications">
                          <i class="fa fa-bell"></i> Notifications
                        </a>
                    </li>
                    <li>
                        <a href="#/settings/payments">
                          <i class="fa fa-credit-card"></i> Payments &amp; Subscription
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light ">
            <div class="portlet-title tabbable-line">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#" data-target="#tab_1" data-toggle="tab">Profile Info</a>
                </li>
                <li>
                  <a href="#" data-target="#tab_2" data-toggle="tab">Change Image</a>
                </li>
                <li>
                  <a href="#" data-target="#tab_3" data-toggle="tab">Change Password</a>
                </li>
                <li>
                  <a href="#" data-target="#tab_4" data-toggle="tab">Employees</a>
                </li>
              </ul>
            </div>

            <div class="portlet-body">
              <div class="tab-content">
                <!-- PERSONAL INFO TAB -->
                <div class="tab-pane active" id="tab_1">
                    <form action="#" role="form">
                        <div class="form-group">
                            <label class="control-label">Business</label>
                            <input type="text" value="Vendly Venue" class="form-control" /> </div>
                        <div class="form-group">
                            <label class="control-label">Primary Email</label>
                            <input type="email" value="info@vendly.com" class="form-control" /> </div>
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="text" value="012-345-6789" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Website</label>
                              <input type="text" value="vendly.com" class="form-control" /> </div>
                        <div class="form-group">
                            <label class="control-label">Business Type</label>
                            <input type="text" value="Event Venue" class="form-control date-picker" data-date-start-date="+0d" /> </div>
                        <div class="margiv-top-10">
                            <a href="javascript:;" class="btn blue"> Save Changes </a>
                            <a href="javascript:;" class="btn default"> Cancel </a>
                        </div>
                    </form>
                </div>
                <!-- END PERSONAL INFO TAB -->

                <!-- CHANGE AVATAR TAB -->
                <div class="tab-pane " id="tab_2">
                    <p>
                      Description of dimensions and file size limit.
                    </p>
                    <form action="#" role="form">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
                                  <img src="{{settings.layoutPath}}/img/avatar.png" alt="Vendly Venue" height="100%" width="100%" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;"> </div>
                                <div>
                                  <span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="..." />
                                  </span>
                                  <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-10">
                            <a href="javascript:;" class="btn blue"> Save Changes </a>
                            <a href="javascript:;" class="btn default"> Cancel </a>
                        </div>
                    </form>
                </div>
                <!-- END CHANGE AVATAR TAB -->

                <!-- CHANGE PASSWORD TAB -->
                <div class="tab-pane " id="tab_3">
                    <form action="#">
                        <div class="form-group">
                            <label class="control-label">Current Password</label>
                            <input type="password" class="form-control" /> </div>
                        <div class="form-group">
                            <label class="control-label">New Password</label>
                            <input type="password" class="form-control" /> </div>
                        <div class="form-group">
                            <label class="control-label">Re-type New Password</label>
                            <input type="password" class="form-control" /> </div>
                        <div class="margin-top-10">
                            <a href="javascript:;" class="btn blue"> Change Password </a>
                            <a href="javascript:;" class="btn default"> Cancel </a>
                        </div>
                    </form>
                </div>
                <!-- END CHANGE PASSWORD TAB -->

                <!-- EMPLOYEES SETTINGS TAB -->
                <div class="tab-pane " id="tab_4">
                    <form action="#">
                        <table class="table table-light table-hover">
                          <th class="no-border-top border-bottom border-bottom-default"> </th>
                          <th class="no-border-top border-bottom border-bottom-default"> Make Edits </th>
                          <th class="no-border-top border-bottom border-bottom-default"> Add Clients </th>
                          <th class="no-border-top border-bottom border-bottom-default"> View Details </th>
                          <tr>
                            <td>
                              Austin Teague<br>
                              <span class="small font-blue"> Owner </span>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios1" value="edit" checked />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios1" value="add" />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios1" value="view" />
                                <span></span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Ashley Teague<br>
                              <span class="small font-blue"> Wedding Coordinator </span>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios2" value="edit" />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios2" value="add" checked />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios2" value="view" />
                                <span></span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Hannah Doe<br>
                              <span class="small font-blue"> Intern </span>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios3" value="edit" />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios3" value="add" />
                                <span></span>
                              </label>
                            </td>
                            <td align="center">
                              <label class="mt-radio">
                                <input type="radio" name="optionsRadios3" value="view" checked />
                                <span></span>
                              </label>
                            </td>
                          </tr>
                        </table>
                        <!--end profile-settings-->
                        <div class="margin-top-10">
                          <a href="javascript:;" class="btn blue"> Save Changes </a>
                          <a href="javascript:;" class="btn default"> Cancel </a>
                          <a class="btn btn-default pull-right" data-target="#add_privilege_user" data-toggle="modal"> Add User </a>
                        </div>
                    </form>

                    <!-- start add employee modal -->
                    <div id="add_privilege_user" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title bold"> Add New User </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="portlet light form no-margin">
                                    <!-- BEGIN FORM-->
                                    <form ng-submit="onNewProvilegeUserSubmit()" class="form-horizontal">
                                      <div class="form-body">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <span class="help-block"> First Name </span>
                                              <input class="form-control" type="text" required="required" ng-model="user.firstname"/>
                                            </div>
                                            <div class="col-md-6">
                                              <span class="help-block"> Last Name </span>
                                              <input class="form-control" type="text" required="required" ng-model="user.lastname"/>
                                            </div>
                                          </div>
                                          <div class="padding-bottom-10 padding-top-10"></div>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <span class="help-block"> User Title </span>
                                              <input class="form-control" type="text" required="required" ng-model="user.title"/>
                                            </div>
                                            <div class="col-md-6">
                                              <span class="help-block"> Email Address </span>
                                              <input class="form-control date-picker" type="text" ng-model="user.email"/>
                                            </div>
                                          </div>
                                          <div class="padding-bottom-10 padding-top-10"></div>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <span class="help-block"> Permission </span>
                                              <select class="form-control" ng-model="user.permission">
                                                <option value="submit">Make Edits</option>
                                                <option value="suggest">Add Clients</option>
                                                <option value="view">View Details</option>
                                              </select>
                                            </div>
                                          </div>
                                      </div>
                                      <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                                      <button type="submit" class="btn btn-default">Add User</button>
                                    </form>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end add employee modal -->
                </div>
                <!-- END PRIVACY SETTINGS TAB -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PROFILE CONTENT -->
  </div>
</div>
