<div class="portlet light">
    <div class="row">
        <div class="col-xs-6">
            <dl>
                <dt>Email</dt>
                <dd class="padding-bottom-10">{{ client.email }}</dd>
                <dt>Phone Number</dt>
                <dd class="padding-bottom-10">{{ client.phone }}</dd>
                <dt>Event Date</dt>
                <dd class="padding-bottom-10">{{ client.weddingdate }}</dd>
                <dt>Balance Due</dt>
                <dd id="clientbalancedue">{{ client.balanceDue}}</dd>
            </dl>
        </div>
    </div>
</div>
