.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}

a:hover {
    cursor: pointer;   
}

.centerdiv {
    float: none; 
    margin: 0 auto;
    width: 800px;
}


#clockdiv{
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: white;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

#today {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    visibility: hidden;
}



.sidenav {
    height: 100%;
    width: 25px;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #444;
    display: block;
    transition: 0.5s;
}

.sidenav hr {
    margin-top: 0; 
    margin-bottom: 0; 
    border-top: 1px solid #888;
}

.sidenav img {
    transition: 0.5s;
    vertical-align: text-bottom;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.leftnavicon {
    height: 15px;
    width: 15px;
    margin: 5px;
}



/**
 * Main body
 */

body,
.modal-body {
    background-color: aliceblue !important;
}


/**
* Navbar
*/

.navbar {
    z-index: 2;
}

.modal-header,
nav.navbar.navbar-default,
.navbar-default {
    background-color: lightskyblue;
    background-image: none;
    border-color: transparent;
    border-radius: 0;
}

.navbar-default a {
    color: white !important;
}

/**
 * Modal
 */



#loginModal .modal-header {
    height:50px;
}

#continue {
    margin-top: 30px;
}

#continueRow {
    position: absolute;
    bottom: 3em;
}

.modal input.form-control {
    //margin-left: -15px;
    margin-bottom: 15px;
}

.modal-body {
    height: auto;
}

.modal-dialog {
    top: 4em;
   // width: 60em !important;
   // height: 40em;
}

.modal-body-header {
    margin-top: 0;
}

.modal-body .row {
    width: 85%;
    //margin-left: 4em;
}

.modal-header {
    height: 6em;
}

.tabbable-panel {
    margin-top: 50px;
}

ul.checkout-bar {
    white-space: nowrap;
}

ul.checkout-bar li {
    color: gray;
    position: relative;
    display: inline-block;
    margin: 40px 2.4em 0 0;
    padding: 0;
    text-align: center;
    width: 20%;
}

ul.checkout-bar li:before {
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    color: grey;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 48px;
    position: absolute;
    top: -65px;
    left: 0%;
    z-index: 99999;
}

ul.checkout-bar li.active:before {
    border: 2px solid lightgreen;
    z-index: 99999;
}

ul.checkout-bar li.visited:before {
    box-shadow: inset 0 0 0 1000px lightgreen;
    border: 2px solid lightgreen;
    z-index: 99999;
}

ul.checkout-bar li:nth-child(1):before {
    content:"1";
}

ul.checkout-bar li:nth-child(2):before {
    content:"2";
}

ul.checkout-bar li:nth-child(3):before {
    content:"3";
}

ul.checkout-bar li:nth-child(4):before {
    content:"4";
}

ul.checkout-bar li:nth-child(5):before {
    content:"5";
}

ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 2px;
    padding: 0;
    position: absolute;
    width: 80%;
    top: 3em;
    left: 4em;
}