<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard">Dashboard</a>
          <i class="fa fa-circle"></i>
        </li>
      <li>
          <span> Handbooks </span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
      <div class="portlet light no-margin">
        <div class="portlet-title">
          <div class="page-title">
            My Handbooks
            <i class="fa fa-question-circle font-grey-salt hidden" style="font-size: 16px;" data-toggle="tooltip" data-placement="top" title="This is a tooltip"></i>
          </div>
          <div class="actions">
            <a class="btn btn-circle btn-default" href="#/newhandbook">
              <i class="fa fa-book"></i>
              Add Handbook
            </a>
          </div>
        </div>
      </div>
    </div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
    <div class="portlet light">
      <table class="table table-bordered table-hover">
        <th class="text-center" style="width: 7%;"><small>Active</small></th>
        <th class="text-center" style="width: 7%;"><small>Edit</small></th>
        <th style="width: 64%">Title</th>
        <th style="width: 22%">Updated</th>

        <tr ng-repeat= "handbook in handbooks" >
          <td class="text-center"><input type="radio" name="defaultHandbook" value="default"></td>
          <td class="text-center">
            <a href="#/handbook_editor/{{handbook._id}}">
              <i class="fa fa-pencil-square-o font-blue"></i>
            </a>
          </td>
          <td>{{ handbook.title }}</td>
          <td>August 23, 2016</td>
          <!--<td>{{ handbook.upload_date | date:"longDate" }}</td>-->
        </tr>
      </table>
    </div>

  </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS-->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<!-- BEGIN MAIN JS -->
