<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-6 coming-soon-countdown">
      <div id="defaultCountdown"> </div>
  </div>
  <div class="col-md-6 coming-soon-content">
      <h1 class="font-blue">Coming Soon!</h1>
      <p class="font-grey-mint padding-bottom-20">
        At Vendly, we are constantly expanding our platform features. With each new feature we it meets the need of our users, is intuitive to use, and works without a hitch.
        <br><br>Subscribe below to be alerted when new features are made available.
      </p>
      <form class="form-inline" action="#">
          <div class="input-group input-group-lg input-large">
              <input type="email" class="form-control">
              <span class="input-group-btn">
                  <button class="btn blue" type="button"> Notify Me </button>
              </span>
          </div>
      </form>
      <ul class="social-icons margin-top-20">
          <li>
              <a href="javascript:;" data-original-title="Feed" class="rss"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Facebook" class="facebook"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Twitter" class="twitter"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Goole Plus" class="googleplus"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Pinterest" class="pintrest"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Linkedin" class="linkedin"> </a>
          </li>
          <li>
              <a href="javascript:;" data-original-title="Vimeo" class="vimeo"> </a>
          </li>
      </ul>
  </div>
</div>

<script>
  ComingSoon.init();
</script>
