<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #444;
        font-family: sans-serif;
    }

    .fb-main {
        background-color: #fff;
        border-radius: 5px;
        min-height: 600px;
    }

    input[type=text] {
        height: 26px;
        margin-bottom: 3px;
    }

    select {
        margin-bottom: 5px;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<links-bar links="[{label:'Dashboard', path:'dashboard'}, {label:'Handbooks', path:'handbooks'}, {label:'New'}]"></links-bar>

<!-- END PAGE HEADER-->
<div class="hidden-xs">
    <handbook></handbook>
</div>

<div class="h2 visible-xs">
    <h2 align="center" class="bold font-grey-salt padding-20"> This content is not visible on mobile devices. </h2>
</div>