<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard">Dashboard</a>
          <i class="fa fa-circle"></i>
        </li>
      <li>
          <span> Client Rolodex </span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="RolodexController">
  <div class="col-md-12">
    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="page-title">
          My Clients
        </div>
        <div class="actions">
          <a class="btn btn-circle btn-default" data-target="#add_client" data-toggle="modal">
            <i class="fa fa-user-plus"></i>
            Add Client
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" href="#">
            <i class="fa fa-cog"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- Client Rolodex -->
<div class="row hidden-xs">
  <div class="col-md-12">
    <form class="form-inline well-sm">
      <div class="form-control">
        <span class="fa fa-search font-blue" style="opacity: .45;"></span>
        <input type="text" style="border: transparent;" placeholder="Search...">
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <div ng-controller="RolodexController" class="portlet light">
      <table class="table table-bordered  table-hover">
        <th> # </th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Event Date</th>
        <th>Balance Due</th>

        <tr ng-repeat= "client in clients" >
          <td class="text-center">
            <a data-target="#client_details" data-toggle="modal" ng-click="viewContact(client)">
              <i class="fa fa-external-link font-blue"></i>
            </a>
          </td>
          <td> {{ client.name }}</td>
          <td> {{ client.email }}</td>
          <td> {{ client.phone }}</td>
          <td> {{ client.weddingdate | date:"longDate" }}</td>
          <td> {{ client.balanceDue | currency }}</td>
        </tr>
      </table>
    </div>

  </div>
</div>
<div class="h2 visible-xs-block">
  <h2 align="center" class="bold font-grey-salt padding-20">
    This content is only visible on desktop and tablet devices.
  </h2>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN Client Details Modal -->
  <div id="client_details" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title bold"><span id="clientname"></span> &nbsp;
            <a class="btn btn-circle btn-default border-blue btn-small font-blue" style="float: right;">
              <i class="fa fa-wrench"></i>
              Edit
            </a>
          </h4>
        </div>
        <div class="modal-body">
          <div class="portlet light">
            <div class="row">
              <div class="col-md-6">
                <dl>
                  <dt>Email</dt>
                  <dd class="padding-bottom-10" id="clientemail"></dd>
                  <dt>Phone Number</dt>
                  <dd class="padding-bottom-10" id="clientphone"></dd>
                  <dt>Event Date</dt>
                  <dd class="padding-bottom-10" id="clientweddingdate"></dd>
                  <dt>Balance Due</dt>
                  <dd id="clientbalancedue"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn blue" href="#/user/details">View Full Details</button>
        </div>
      </div>
    </div>
  </div>
<!-- END Client Details Modal -->

<!-- BEGIN Add Client Modal -->
  <div id="add_client" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title bold">Add New Client
          </h4>
        </div>
        <div class="modal-body">
          <div class="portlet light form no-margin">
            <!-- BEGIN FORM-->
            <form ng-submit="onSubmit()" class="form-horizontal">
              <div class="form-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="help-block"> First Name </span>
                      <input class="form-control" type="text" required="required" ng-model="firstname"/>
                    </div>
                    <div class="col-md-6">
                      <span class="help-block"> Last Name </span>
                      <input class="form-control" type="text" required="required" ng-model="lastname"/>
                    </div>
                  </div>
                  <div class="padding-bottom-10 padding-top-10"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="help-block"> Email </span>
                      <input class="form-control" type="email" required="required" ng-model="contact.email"/>
                    </div>
                    <div class="col-md-6">
                      <span class="help-block"> Event Date </span>
                      <input class="form-control date-picker" size="16" type="text" value="" data-date-start-date="+0d" required="required" ng-model="contact.weddingdate"/>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-controller="AccordionDemoCtrl">
                <uib-accordion close-others="oneAtATime">
                  <uib-accordion-group heading="+ Additional Options" style="text-align: right;">
                    <div class="row" style="text-align: left;">
                      <div class="col-md-6">
                        <span class="help-block"> Phone Number </span>
                        <input class="form-control" type="text" ng-model="contact.phone"/>
                      </div>
                      <div class="col-md-6">
                        <span class="help-block"> Balance Due </span>
                        <input class="form-control" type="text" ng-model="contact.balanceDue"/>
                      </div>
                    </div>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
              <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                <input class="btn blue" data-dismiss="modal" type="submit" value="Add Client" id="addClient" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- END Add Client Modal -->

</div>

<!-- BEGIN MAIN JS-->
<script type="text/javascript">
  $(document).on('click', '#addClient', function(evt) {
    evt.preventDefault();
    toastr.success('An invitation email has been sent to them to access your handbook.', 'Client Added');
  });
</script>
<script type="text/javascript">
  /**
   * @param {Object} $scope
   * @return {undefined}
   */
  function AccordionDemoCtrl($scope)
  {
      /** @type {boolean} */
      $scope.oneAtATime = true;
      /** @type {Array} */
      $scope.status = {
        isCustomHeaderOpen: false,
        isFirstOpen: false,
        isFirstDisabled: false
      };
  }
</script>
<script>
  ComponentsDateTimePickers.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
