<div class="mdl-card full-width">
  <div class="mdl-card__title">
    <span class="mdl-card__title-text">
      My Clients
    </span>
  </div>
  <div class="mdl-card__supporting-text full-width p-a-0 hidden-xs-down" style="padding: 0;">
    <form action="#">
      <div layout="row">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="clientSearch" style="margin-top: 18px;">
          <i class="material-icons">search</i>
        </label>
        <md-input-container flex="33" style="min-width: 300px; margin-bottom: 0;">
          <label>Search Clients...</label>
          <input ng-model="searchText" type="text" id="clientSearch">
        </md-input-container>        
      </div>
    </form>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"></th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Phone #</th>
          <th class="mdl-data-table__cell--non-numeric">Event Date</th>
          <!-- <th class="mdl-data-table__cell--non-numeric">Balance Due</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in clients | filter:searchText | filter:dateFilter">
          <td class="mdl-data-table__cell--non-numeric">
            <a data-target="#client_details" data-toggle="modal" ng-click="viewContact(client)">
                <i class="fa fa-external-link"></i>
            </a>
          </td>
          <td class="mdl-data-table__cell--non-numeric"> {{ client.name }}</td>
          <td class="mdl-data-table__cell--non-numeric"> {{ client.email }}</td>
          <td class="mdl-data-table__cell--non-numeric"> {{ client.phone }}</td>
          <td class="mdl-data-table__cell--non-numeric"> {{ client.weddingdate | date:"fullDate" }}</td>
          <!-- <td class="mdl-data-table__cell--non-numeric"> {{ client.balanceDue | currency }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color-text--blue" data-target="#add_client" data-toggle="modal">
      Add Client
    </button>
    <button ng-click="toggleCurrentClients()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--blue-grey-400" style="margin-left: 8px;">
      <i class="material-icons">settings</i>
    </button>
  </div>
</div>


<div class="h2 hidden-sm-up">
  <h6 align="center" class="mdl-typography--headline mdl-color-text--blue-grey-600" style="font-weight: 300;">
    Rotate mobile device sideways to view page content
  </h6>
</div>

<!-- Client Details Modal -->
<div id="client_details" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <client-details client="viewingClient" ></client-details>
  </div>
</div>

<!-- Add Client Modal -->
<div id="add_client" class="modal full-width" style="background-color: rgba(100, 100, 100, .35); position: fixed;" role="dialog">
  <div class="mdl-card mdl-shadow--8dp full-width" style="margin: 150px auto; max-width: 650px;">
    <div class="mdl-card__title mdl-card--border mdl-color--blue mdl-color-text--white">
      <span class="mdl-card__title-text">Add Client</span>
    </div>
    <div class="mdl-card__supporting-text full-width">
      <form ng-submit="onContactSubmit()">
        <div style="display: flex;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 1; flex: 1; margin-right: 7px;">
            <input class="mdl-textfield__input" type="text" ng-model="firstname">
            <label class="mdl-textfield__label">First Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 2; flex: 1; margin-left: 7px;">
            <input class="mdl-textfield__input" type="text" ng-model="lastname" >
            <label class="mdl-textfield__label">Last Name</label>
          </div>
        </div>
        <div style="display: flex;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 1; flex: 1; margin-right: 7px;">
            <input class="mdl-textfield__input" type="text" ng-model="contact.email">
            <label class="mdl-textfield__label">Email Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 2; flex: 1; margin-left: 7px;">
            <input class="mdl-textfield__input" type="text" ng-model="contact.weddingdate" >
            <label class="mdl-textfield__label">Event Date</label>
            <!-- <input class="form-control date-picker" size="16" type="text" value="" data-date-start-date="+0d" required="required" ng-model="contact.weddingdate"/> -->
          </div>
        </div>
        <div style="padding-bottom: 15px;">
          <h6 style="margin: 15px 0 0;"><em>Additional Options</em></h6>
          <hr style="margin: 0;">
          <div style="display: flex;">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 1; flex: 1; margin-right: 7px;">
              <input class="mdl-textfield__input" type="text" ng-model="contact.phone">
              <label class="mdl-textfield__label">Phone #</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="order: 2; flex: 1; margin-left: 7px;">
              <input class="mdl-textfield__input" type="text" ng-model="contact.balanceDue" >
              <label class="mdl-textfield__label">Balance Due</label>
            </div>
          </div>
        </div>
        <div style="float: right;">
          <button data-dismiss="modal" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" style="margin: 0 4px;">Cancel</button>
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white" style="margin: 0 4px;">Add Client</button>                        
        </div>
      </form>
    </div>
  </div>
</div>

<!-- NOTE: Is this needed? -->
<script>
  function AccordionDemoCtrl($scope) {
    /** @type {boolean} */
    $scope.oneAtATime = true;
    /** @type {Array} */
    $scope.status = {
      isCustomHeaderOpen: false,
      isFirstOpen: false,
      isFirstDisabled: false
    };
  }
</script>