<div class="row" ng-controller="GeneralPageController">
  <div class="col-xs-12">
      <h1 class="font-blue text-center">Welcome to Vendly!</h1>
      <p class="font-grey-mint padding-bottom-20">
        Before getting started we want to confirm your email address. You should receive an email within the next few minutes with a link. Once your email has been confirmed you will have free access to Vendly's demo platform.
      </p>
    <form class="form-inline" action="">
      <div class="input-group input-group-lg input-large">
        <input type="email" class="form-control" value="austin@vendly.com">
          <span class="input-group-btn">
          <button class="btn blue" type="button"> Update &amp; Resend Email </button>
        </span>
      </div>
    </form>
  </div>
</div>

<script>
	
</script>