<div class="mdl-card full-width">
  <div class="mdl-card__title">
    <span class="mdl-card__title-text">
      My Documents
    </span>
  </div>
  <div class="mdl-card__supporting-text full-width p-a-0" style="padding: 0;">
    <form action="#">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="documentSearch">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="documentSearch" ng-model="searchText">
        <label class="mdl-textfield__label">Search...</label>
      </div>
    </form>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">View</th>
          <th class="mdl-data-table__cell--non-numeric">Title</th>
          <th class="mdl-data-table__cell--non-numeric">Uploaded</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="document in documents | filter:searchText">
          <td class="mdl-data-table__cell--non-numeric">
            <a data-target="#client_details" data-toggle="modal" ng-click="viewDocument(document)">
                <i class="fa fa-external-link"></i>
            </a>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{ document.name }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ document.uploaded | date:"longDate" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color-text--blue" data-target="#add_doc" data-toggle="modal">
      <i class="material-icons">cloud_upload</i>
      Upload Document
    </button>
  </div>
</div>

<!-- Upload Document Modal -->
<div id="add_doc" class="modal full-width" style="background-color: rgba(100, 100, 100, .35); position: fixed;" role="dialog">
  <div style="margin: 0 15px;">
    <div class="mdl-card mdl-shadow--8dp full-width" style="margin: 150px auto; max-width: 650px;">
      <div class="mdl-card__title mdl-card--border mdl-color--blue mdl-color-text--white">
        <span class="mdl-card__title-text">Upload Document</span>
      </div>
      <div class="mdl-card__supporting-text full-width p-t-0" style="padding-top: 0;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
          <input class="mdl-textfield__input" type="text" ng-model="document.filename" >
          <label class="mdl-textfield__label">Document Title</label>
        </div>
        <div hidden class="mdl-textfield mdl-js-textfield full-width">
          <textarea class="mdl-textfield__input" type="text" rows= "3" ng-model="document.description" ></textarea>
          <label class="mdl-textfield__label">Document Description</label>
        </div>
        <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
          Browse For File:
          <input id="newDoc" type="file" nv-file-select="" uploader="uploader" style="width: 100%;" />
        </div>
        <div style="float: right; padding-top: 10px;">
          <button data-dismiss="modal" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" style="margin: 0 4px;">Cancel</button>
          <button ng-click="uploadDocument()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white" style="margin: 0 4px;">Upload</button>                        
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add_do" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bold"> Upload Document </h4>
            </div>
            <div class="modal-body">
                <div class="portlet light form no-margin">
                        <div class="row padding-bottom-20" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                            <div class="col-xs-12 hidden-xs hidden-sm">
                                <div ng-show="uploader.isHTML5">
                                    <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                    <div class="file-drop-zone margin-bottom-20 hidden" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over"> Base drop zone </div>
                                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                        <div nv-file-over="" uploader="uploader" over-class="file-drop-zone-over" class="file-drop-zone margin-bottom-20">
                                            <strong>Drop File Here</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->Browse For File:
                                <input id="newDoc" type="file" nv-file-select="" uploader="uploader" style="width: 100%;" /> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal">Cancel</button>
                <button class="btn blue" type="button" ng-click="uploadDocument()">Upload</button>
            </div>
        </div>
    </div>
</div>
<!-- END Add doc Modal -->