<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
        <a href="#/dashboard">Dashboard</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a href="#/handbooks">Handbooks</a>
      </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-12">
      <div class="portlet light no-margin">
        <div class="portlet-title">
          <div class="page-title">
            Wedding Handbook
          </div>
        </div>
      </div>
    </div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
    <div class="portlet-body">
      <pre hidden>Form Data {{editorContent | json}}</pre>
      <form>
        <input type="submit" value="Submit" />
        <textarea sir-trevor-editor ng-model="editorContent"></textarea>
      </form>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->
