<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard">Dashboard</a>
          <i class="fa fa-circle"></i>
        </li>
      <li>
          <span> Handbooks </span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-12">
      <div class="portlet light no-margin">
        <div class="portlet-title">
          <div class="page-title">
            My Handbooks
            <p uib-popover="This is a tooltip" popover-trigger="mouseenter" class="inline hidden">
              <i class="fa fa-question-circle font-grey-salt" style="font-size: 16px;"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-8">
    <div class="portlet-body">

    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->
