<navigation></navigation>
<sidebar></sidebar>

<div class="centerdiv" style="width:800px">
    
    <form ng-submit="vm.onSubmit()">
        
        <div class="row">
            <div class="col-md-5 form-group">
                <label for="name">Contact Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter contact name" ng-model="vm.contact.name">
            </div>
            <div class="col-md-5 form-group">
                <label for="email">Contact Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter contact email" ng-model="vm.contact.email">
            </div>
        </div>

        <button type="submit" class="btn btn-default">Add</button>
        
      </form>
    
    <br><br>
    <table class="table display centerdiv" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Wedding Date</th>
                <th>Phone Number</th>
                <th>Balance Due</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="contact in vm.contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.weddingdate}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.balanceDue}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
