<style>
  .pull-right { float: right; }
  .mdl-menu__item a { text-decoration: none; }
  .no-underline, .no-underline:hover { text-decoration: none !important; }
  .mdl-tabs__tab.is-active { color: #FFFFFF !important; background-color: #BBDEFB; width: 100%; text-align: left; }
  .mdl-tabs__tab-bar, .mdl-tabs__tab-bar a { display: block; text-align: left; }
  .mdl-data-table, th, td {border-color: transparent !important; padding-left: 8px !important; padding-bottom: 0 !important; padding-top: 0px !important;}
  .mdl-switch__label { left: 16px; }
</style>


<div class="row p-t-2">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="col-xs-12 col-md-4 p-b-2">
			<div class="hidden-sm-down">
				<p align="center">
					<img src={{user_settings.avatar}} alt="" style="border-radius: 5em; width: 55%; max-width: 100px;">
				</p>
				<h4 align="center" class="p-b-2">
					{user.name}
				</h4>
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#employees" class="mdl-tabs__tab no-underline full-width is-active">
					<i class="fa fa-users p-r-1"></i>
					Employees
				</a>                  
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#preferred" class="mdl-tabs__tab no-underline full-width">
					<i class="fa fa-home p-r-1"></i>
					Preferred Vendors
				</a>
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#deposits" class="mdl-tabs__tab no-underline full-width">
					<i class="fa fa-university p-r-1"></i>
					Deposits
				</a>
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#membership" class="mdl-tabs__tab no-underline full-width">
					<i class="fa fa-id-card-o p-r-1"></i>
					Membership
				</a>
			</div>
		</div>
		
		<div class="col-xs-12 col-md-8">
			<div class="mdl-tabs__panel is-active" id="employees">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title p-b-0">
						<h4 class="mdl-card__title-text">
							Employees
							<small>
								<i id="employees_tt" class="fa fa-info-circle" style="margin: 10px 0 0 5px;"></i>
							</small>
						</h4>
						<div class="mdl-tooltip" data-mdl-for="employees_tt">
							Tooltip text...
						</div>
					</div>
					<div class="mdl-card__supporting-text full-width p-y-0" style="overflow-x: auto;">
						<table class="mdl-data-table mdl-js-data-table full-width">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">Full Name</th>
									<th class="mdl-data-table__cell--non-numeric">Email</th>
									<th class="mdl-data-table__cell--non-numeric">Role</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										Austin Teague
									</td>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										austin@vendly.com
									</td>
									<td class="mdl-data-table__cell--non-numeric" style="min-width: 100px;">
										<div class="mdl-textfield mdl-js-textfield full-width p-y-0">
											<label class="mdl-textfield__label">Role</label>
											<select class="mdl-textfield__input full-width" style="border-color: transparent; background-color: transparent; border-bottom: 1px solid rgba(0,0,0,.12); border-radius: 0px; -webkit-appearance: none;">
												<option value="" disabled hidden></option>
												<option value="1">Overseer</option>
												<option value="2">Manager</option>
												<option value="3" selected>Admin</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										Seth Anderson
									</td>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										seth@vendly.com
									</td>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										Admin
									</td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										Sarah Niedzwiecki
									</td>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										sarah@vendly.com
									</td>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										Manager
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mdl-card__actions p-b-1">
						<div class="row p-x-1">
							<div class="col-xs-12">
								<button class="mdl-button mdl-js-button mdl-js-ripple-effect text-muted">
									<i class="fa fa-plus"></i>
									Add Employee
								</button>                        
							</div>
							<form action="#">
								<div class="row p-x-2">                          
									<div class="col-xs-6 col-md-3">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
											<input class="mdl-textfield__input" type="text" id="employee_first_name">
											<label class="mdl-textfield__label" for="employee_first_name">First Name</label>
										</div>
									</div>
									<div class="col-xs-6 col-md-3">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
											<input class="mdl-textfield__input" type="text" id="employee_last_name">
											<label class="mdl-textfield__label" for="employee_last_name">Last Name</label>
										</div>
									</div>
									<div class="col-xs-6 col-md-3">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
											<input class="mdl-textfield__input" type="text" id="employee_email">
											<label class="mdl-textfield__label" for="employee_email">Email Address</label>
										</div>
									</div>
									<div class="col-xs-6 col-md-3">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
											<label class="mdl-textfield__label">Role</label>
											<select class="mdl-textfield__input full-width" style="border-color: transparent; background-color: transparent; border-bottom: 1px solid rgba(0,0,0,.12); border-radius: 0px; -webkit-appearance: none;">
												<option value="" disabled selected hidden></option>
												<option value="1">Overseer</option>
												<option value="2">Manager</option>
												<option value="3">Admin</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12">
										<input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white pull-right" type="submit" value="Send Invite">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="mdl-card__menu p-r-1">
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
							<input type="checkbox" id="edit_preferred_businesses" class="mdl-switch__input" value="on">
							<span class="mdl-switch__label text-muted">
								<em>Edit</em>
							</span>
						</label>
					</div>
				</div>
			</div>
			
			<div class="mdl-tabs__panel" id="preferred">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title p-b-0">
						<h4 class="mdl-card__title-text">
							Preferred Venues
							<small>
								<i id="preferred_tt" class="fa fa-info-circle" style="margin: 10px 0 0 5px;"></i>
							</small>
						</h4>
						<div class="mdl-tooltip" data-mdl-for="preferred_tt">
							Tooltip text...
						</div>
					</div>
					<div class="mdl-card__supporting-text full-width p-y-0" style="overflow-x: auto;">
						<table class="mdl-data-table mdl-js-data-table full-width">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">Business Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										<a href="">
											Lindsey Lakes
										</a>
									</td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										<a href="">
											Ashton Gardens
										</a>
									</td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric mdl-typography--subhead">
										<a href="">
											NOAH's Event Venue - Sugarland
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mdl-card__actions p-b-1">
						<div class="row p-x-2">
							<div class="col-xs-12 p-x-0">
								<button class="mdl-button mdl-js-button mdl-js-ripple-effect text-muted">
									<i class="fa fa-plus"></i>
									Add Preferred Vendor
								</button>                        
							</div>
							<form action="#">
								<div class="col-xs-12 col-sm-6">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
										<input class="mdl-textfield__input" type="text" id="business_name">
										<label class="mdl-textfield__label" for="business_name">Business Name</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
										<input class="mdl-textfield__input" type="text" id="employee_email">
										<label class="mdl-textfield__label" for="employee_email">Email Address</label>
									</div>
								</div>
								<div class="col-xs-12">
									<input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white pull-right" type="submit" value="Send Request">
								</div>
							</form>
						</div>
					</div>
					<div class="mdl-card__menu p-r-1">
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
							<input type="checkbox" id="edit_preferred_businesses" class="mdl-switch__input" value="on">
							<span class="mdl-switch__label text-muted">
								<em>Edit</em>
							</span>
						</label>
					</div>
				</div>
			</div>
			
			<div class="mdl-tabs__panel" id="deposits">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title">
						<span class="mdl-card__title-text">
							Deposits
						</span>
					</div>
					<div id="tos" class="supporting-text full-width p-x-1">
						<div class="p-a-2" style="height: 350px; border: thin solid #CCCCCC; border-radius: 5px;">                      
							<h6 class="m-b-0">Activate ACH Deposits for your account</h6>
							<p class="text-muted p-b-0" style="line-height: 1.1; margin-top: 5px;">
								Before starting, you will first need to enable ACH depositing on your account. By doing so you are agreeing to our Terms of Service available <a href="">here</a>.
							</p>
							<p class="p-t-2" align="center">
								<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
									Accept Terms of Service
								</button>
							</p>
						</div>
					</div>
					<div hidden id="deposit_table" class="mdl-card__supporting-text full-width">                    
						<div class="col-xs-12 col-md-6 p-x-0">
							<div class="mdl-card full-width">
								<div class="mdl-card__title p-b-0">
									<span class="mdl-card__title-text">
										Bank Account
									</span>
								</div>
								<div class="mdl-card__supporting-text p-y-0 full-width">                          
									<p class="mdl-typography--caption">This is where your deposits will be transfered.</p>
								</div>
								
								<!-- Account linked -->
								<div class="mdl-card__supporting-text full-width p-t-0">
									<div>                            
										<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised full-width m-b-1" style="height: 50px; line-height: 1;">
											Bank of America<br>
											<small>Account &nbsp; - &nbsp; **1234</small>
										</button>
									</div>
									
									<!-- No account linked -->
									<div class="col-xs-12">
										<p align="center">
											<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised text-muted">
												<i class="fa fa-university"></i> Change Bank Account
											</button>
										</p>
									</div>
								</div>
								<div class="mdl-card__actions p-t-2">
									<div class="col-xs-7">
										<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
											<input type="checkbox" class="mdl-switch__input">
											<span class="mdl-switch__label" style="padding-left: 5px"><small>Deactivate</small></span>
										</label>
									</div>
									<div class="col-xs-5">
										<p align="center" class="m-y-0" style="font-size: 12px; line-height: 1;">
											Confirm?<br>
											<a href="" class="mdl-color-text--red">Yes</a>
											&nbsp;
											<a href="" class="mdl-color-text--blue">Cancel</a>
										</p>
									</div>
								</div>
							</div>                            
							<span class="hidden-md-up"><hr></span>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="mdl-card full-width">
								<div class="mdl-card__title mdl-color--red-100">
									<span class="mdl-card__title-text">Deactived</span>
								</div>
								<div class="mdl-card__supporting-text full-width">
									<h6>Next Deposit</h6>
									<p>November 1, 2016</p>
								</div>
								<div class="mdl-card__supporting-text full-width">
									<h6>Deposit Schedule</h6>
									<p>1<sup>st</sup> &amp; 15<sup>th</sup> of every month</p>
								</div>
								<div class="mdl-card__supporting-text full-width p-r-0">
									<h6>Recent Deposits</h6>
									<div style="max-height: 80px; overflow-y: auto; overflow-x: hidden;">
										<small>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
										</small>
									</div>
								</div>
							</div>                    
						</div>
					</div>
					<div class="mdl-card__actions"></div>
					<div class="mdl-card__menu">
						<img src="https://2sorea2b9ama3o8i8o2afd7a-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/outline@3x.png" alt="" height="25px">
					</div>
				</div>
			</div>

			<div class="mdl-tabs__panel" id="membership">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title">
						<span class="mdl-card__title-text">
							Membership
						</span>
					</div>
					<div class="supporting-text full-width">
						<div class="col-xs-12 col-md-6">
							<div class="mdl-card full-width">
								<div class="mdl-card__title mdl-color--green-100">
									<h6 class="mdl-card__title-text">
										Active
									</h6>
								</div>                          
								<div class="mdl-card__supporting-text full-width">
                  
                  <!-- Initial State -->
									<div hidden class="row">
										<div class="col-xs-12">
											<p align="center">                            
												<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised text-muted">
													<i class="fa fa-credit-card"></i> Add Card
												</button>
											</p>
										</div>
										<div class="col-xs-12">
											<p align="center">
												<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised text-muted">
													<i class="fa fa-university"></i> Link Account
												</button>
											</p>
										</div>
									</div>
                  <!-- Initial State -->

									<div class="row">                            
										<small>
											<div class="row p-b-1">
												<div class="col-xs-6">
													<p class="text-muted m-y-0">Billing Manager</p>
													<p class="m-y-0">Austin Teague</p>
												</div>
												<div class="col-xs-6">
													<p class="text-muted m-y-0">Billing Email</p>
													<p class="m-y-0">austin@vendly.com</p>
												</div>
											</div>                           
											<div class="row p-b-2">
												<div class="col-xs-6">
													<p class="text-muted m-y-0">Card Number</p>
													<p class="m-y-0">xxxx xxxx xxxx 1234</p>
												</div>
												<div class="col-xs-6">
													<p class="text-muted m-y-0">Expiration Date</p>
													<p class="m-y-0">01/2017</p>
												</div>
											</div>
										</small>
										<p align="center" class="p-t-1">
											<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised text-muted full-width">
												<i class="fa fa-university"></i> Update Payment Method
											</button>
										</p>
									</div>
								</div>
								<div class="mdl-card__actions p-t-3">
									<div class="col-xs-7">
										<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
											<input type="checkbox" class="mdl-switch__input">
											<span class="mdl-switch__label" style="padding-left: 5px"><small>Deactivate</small></span>
										</label>
									</div>
									<div class="col-xs-5">
										<p align="center" class="m-b-0" style="font-size: 12px; line-height: 1;">
											Confirm?<br>
											<a href="" class="mdl-color-text--red">Yes</a>
											&nbsp;
											<a href="" class="mdl-color-text--blue">Cancel</a>
										</p>
									</div>
								</div>
							</div>
							<span class="hidden-md-up"><hr></span>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="mdl-card full-width">
								<div class="mdl-card__title">
									<span class="mdl-card__title-text">Billing History</span>
								</div>
								<div class="mdl-card__supporting-text full-width">
									<h6>Subscription Renews On</h6>
									<p>December 21, 2016</p>
								</div>
								<div class="mdl-card__supporting-text full-width p-r-0">
									<h6>Recent Payments</h6>
									<div style="height: 165px; overflow-y: auto; overflow-x: hidden;">
										<small>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													October 15, 2016
												</div>
												<div class="col-xs-4">
													$ 5,019
												</div>
												<div class="col-xs-2">
													<a href="">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
										</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mdl-card__actions"></div>
					<div class="mdl-card__menu">
						<img src="https://2sorea2b9ama3o8i8o2afd7a-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/outline@3x.png" alt="" height="25px">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $('#tos').click(function(){
    $('#tos').prop('hidden', true);
    $('#deposit_table').prop('hidden', false);
  });
</script>

