<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="#/dashboard">Dashboard</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Finances</span>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span> Overview </span>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-md-12">
    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light no-margin">
      <div class="portlet-title">
        <div class="page-title">
          Finances: Overview
        </div>
      </div>
    </div>
  </div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
    <div class="portlet light" style="padding-top: 0;">
      <div class="portlet-body" style="padding-top: 0;">
        <div class=" list-separated">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="font-grey-mint font-sm"> Profit </div>
            <div class="uppercase font-hg font-blue">
              <span class="font-lg font-grey-mint">$</span>
              50,621.63
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="font-grey-mint font-sm"> Revenue </div>
            <div class="uppercase font-hg font-grey-cascade">
              <span class="font-lg font-grey-mint">$</span>
              140,760.35
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="font-grey-mint font-sm"> Expenses </div>
            <div class="uppercase font-hg font-red">
              <span class="font-lg font-grey-mint">$</span>
              90,138.72
            </div>
          </div>
        </div>
        <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 300px"> </div>
      </div>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS-->
<script>
  Dashboard.init();
</script>
<!-- BEGIN MAIN JS -->
