<!-- Notifications -->
<div class="mdl-card mdl-shadow--4dp full-width m-b-1" style="margin-bottom: 30px; min-height: 0;">
  <div class="mdl-card__supporting-text full-width">
    <h3 class="m-t-0" style="margin-top: 0;">Welcome to Vendly!</h3>
    <p>The aim of our platform is to help minimize the stress eveyone involved in planning and executing an event deal with on a daily basis. At the end of the day we want everyone involved to leave with more memories than frustrations.</p>
    <span class="label label-danger">NOTE:</span> If you every have any questions feel free to reach out to us!</span>    
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--blue-grey-200">
      <i class="material-icons">close</i>      
    </button>
  </div>
</div>

<div ng-controller="DashboardController">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__title mdl-card--border p-b-0" style="padding-bottom: 0;">
          <span class="mdl-card__title-text">
            Upcoming Deadlines
          </span>
        </div>
        <div class="mdl-card__supporting-text full-width p-a-0" style="padding: 0; max-height: 400px; overflow-y: scroll;">
          <h6 class="m-y-0 p-l-1 mdl-color-text--blue-grey m-b-0 m-t-1" style="margin-bottom: 0; margin-top: 15px; padding-left: 15px;">Vendly Venue</h6>
          <md-list-item>
            <md-checkbox ng-disabled="true" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              List of people in your set up team.
            </p>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item>
            <md-checkbox ng-disabled="true" class="md-checked" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              Would you prefer to have the unity candle or unity sand ceremony?
            </p>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <h6 class="m-b-0 p-l-1 mdl-color-text--blue-grey m-b-0 m-t-1" style="margin-bottom: 0; margin-top: 15px; padding-left: 15px;">Vendly Vendor</h6>
          <md-list-item>
            <md-checkbox ng-disabled="true" class="md-checked" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              How many guests do you anticipate attending?
            </p>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item>
            <md-checkbox ng-disabled="true" class="md-checked" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              How many attendees are under the age of 3 years old?
            </p>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item>
            <md-checkbox ng-disabled="true" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              How many attendees are under the age of 21 years old?
            </p>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item>
            <md-checkbox ng-disabled="true" aria-label="deadlines checkbox"></md-checkbox>
            <p>
              Which drink package do you prefer?
            </p>
          </md-list-item>
        </div>
        <div class="mdl-card_action p-y-0 p-x-1" style="padding: 0 15px;">
          <a href="" class="mdl-typography--body-1 mdl-color-text--grey-400" style="float: right; font-size: 10px;">
            <em><sup>*</sup>Next 3 weeks</em>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Tasks -->
    <div class="col-md-6 col-sm-12">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__title mdl-card--border p-b-0" style="padding-bottom: 0;">
          <span class="mdl-card__title-text">
            Tasks
          </span>
        </div>
        <div class="mdl-card__supporting-text full-width p-a-0" style="padding: 0; max-height: 400px; overflow-y: scroll;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
          <hr style="margin: 0 auto;">
          <md-list-item class="md-2-line" style="margin-right: -16px;">
            <div class="md-list-item-text">
              <h3>{ Main Text }</h3>
              <p>{ Due Date }</p>
            </div>
            <md-checkbox class="md-primary" aria-label="todo checkbox"></md-checkbox>
          </md-list-item>
        </div>
        <div class="mdl-card_action p-y-0 p-x-1" style="padding: 0 15px;">
          <a href="" class="mdl-typography--body-1 mdl-color-text--red-A100" style="float: right;"><em>
            View All
          </em></a>
        </div>
        <div class="mdl-card__menu">
          <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue">
            <i class="fa fa-plus"></i>
            Add Task
          </button>
        </div>
      </div>
    </div>
  </div>