<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="GeneralPageController">
  <div class="mdl-card full-width">
    <div class="mdl-card__title">
      <span class="mdl-card__title-text">My Venues</span>
    </div>
    <div class="mdl-card__supporting-text full-width">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__title mdl-card--border">
          <span class="mdl-card__title-text" data-target="#lindsayLakes" data-toggle="modal">Lindsay Lakes</span>
        </div>
        <div class="mdl-card__supporting-text full-width">
          <h6 class="mdl-typography--subhead mdl-color-text--blue-grey">Upcoming Deadlines</h6>
          <ul class="mdl-list">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled />
                </label>
                List of people in your set up team.
              </div>
            </li>
            <hr style="margin: 0 auto;">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled checked />
                </label>
                Would you prefer to have the unity candle or unity sand ceremony?
              </div>
            </li>
            <hr style="margin: 0 auto;">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled checked />
                </label>
                How many guests do you anticipate attending?
              </div>
            </li>
            <hr style="margin: 0 auto;">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled checked />
                </label>
                How many attendees are under the age of 3 years old?
              </div>
            </li>
            <hr style="margin: 0 auto;">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled checked />
                </label>
                How many attendees are under the age of 21 years old?
              </div>
            </li>
            <hr style="margin: 0 auto;">
            <li class="mdl-list__item">
              <div class="mdl-list__item-primary-content">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-list__item-icon">
                  <input type="checkbox" class="mdl-checkbox__input" disabled />
                </label>
                Which drink package do you prefer?
              </div>
            </li>
          </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border p-y-1 text-xs-center" style="padding: 15px 0;">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white" style="margin: 0 7px;">
            Access Questionnaire
          </button>
          <a href="mailto:info@vendly.com" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color-text--blue mdl-color--white no-underline" style="margin: 0 7px;">
            Contact Venue
          </a>
        </div>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button data-target="#add_venue" data-toggle="modal" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color-text--blue">Add Venue</button>
    </div>
  </div>

    <!-- Add Venue Modal -->
    <div id="add_venue" class="modal full-width" style="background-color: rgba(100, 100, 100, .35); position: fixed;" role="dialog">
      <div class="mdl-card mdl-shadow--8dp full-width" style="margin: 150px auto; max-width: 650px;">
        <div class="mdl-card__title mdl-card--border mdl-color--blue mdl-color-text--white">
          <span class="mdl-card__title-text">Add Venue</span>
        </div>
        <div class="mdl-card__supporting-text full-width">
          <form ng-submit="onVenueSubmit()" style="padding-top: 10px;">
            <div layout="row">
              <md-input-container flex="40" style="margin-bottom: 0;">
                <label>State</label>
                <md-select ng-model="user.state">
                  <md-option value="" disabled selected>State</md-option>
                  <md-option value="AL">Alabama</md-option>
                  <md-option value="AK">Alaska</md-option>
                  <md-option value="AZ">Arizona</md-option>
                  <md-option value="AR">Arkansas</md-option>
                  <md-option value="CA">California</md-option>
                  <md-option value="CO">Colorado</md-option>
                  <md-option value="CT">Connecticut</md-option>
                  <md-option value="DE">Delaware</md-option>
                  <md-option value="DC">District Of Columbia</md-option>
                  <md-option value="FL">Florida</md-option>
                  <md-option value="GA">Georgia</md-option>
                  <md-option value="HI">Hawaii</md-option>
                  <md-option value="ID">Idaho</md-option>
                  <md-option value="IL">Illinois</md-option>
                  <md-option value="IN">Indiana</md-option>
                  <md-option value="IA">Iowa</md-option>
                  <md-option value="KS">Kansas</md-option>
                  <md-option value="KY">Kentucky</md-option>
                  <md-option value="LA">Louisiana</md-option>
                  <md-option value="ME">Maine</md-option>
                  <md-option value="MD">Maryland</md-option>
                  <md-option value="MA">Massachusetts</md-option>
                  <md-option value="MI">Michigan</md-option>
                  <md-option value="MN">Minnesota</md-option>
                  <md-option value="MS">Mississippi</md-option>
                  <md-option value="MO">Missouri</md-option>
                  <md-option value="MT">Montana</md-option>
                  <md-option value="NE">Nebraska</md-option>
                  <md-option value="NV">Nevada</md-option>
                  <md-option value="NH">New Hampshire</md-option>
                  <md-option value="NJ">New Jersey</md-option>
                  <md-option value="NM">New Mexico</md-option>
                  <md-option value="NY">New York</md-option>
                  <md-option value="NC">North Carolina</md-option>
                  <md-option value="ND">North Dakota</md-option>
                  <md-option value="OH">Ohio</md-option>
                  <md-option value="OK">Oklahoma</md-option>
                  <md-option value="OR">Oregon</md-option>
                  <md-option value="PA">Pennsylvania</md-option>
                  <md-option value="RI">Rhode Island</md-option>
                  <md-option value="SC">South Carolina</md-option>
                  <md-option value="SD">South Dakota</md-option>
                  <md-option value="TN">Tennessee</md-option>
                  <md-option value="TX">Texas</md-option>
                  <md-option value="UT">Utah</md-option>
                  <md-option value="VT">Vermont</md-option>
                  <md-option value="VA">Virginia</md-option>
                  <md-option value="WA">Washington</md-option>
                  <md-option value="WV">West Virginia</md-option>
                  <md-option value="WI">Wisconsin</md-option>
                  <md-option value="WY">Wyoming</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="60" style="margin-bottom: 0;">
                <label>City</label>
                <input ng-model="">
              </md-input-container>
              <!-- User must input city & state before searching -->
            </div>
            <div layout="row">
              <md-autocomplete flex required
                md-input-name="autocompleteField"
                md-input-minlength="2"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-require-match
                md-floating-label="Venue">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No venues matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newVenue(ctrl.searchText)">Create a new one!</a>
              </md-not-found>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> select a venue.</div>
              </div>
            </md-autocomplete>
            </div>
            <div style="float: right; padding: 30px 0 5px;">
              <button data-dismiss="modal" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" style="margin: 0 4px;">Cancel</button>
              <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white" style="margin: 0 4px;">Add Venue</button>                        
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Venue Info Modal -->
    <div id="lindsayLakes" class="modal full-width" style="background-color: rgba(100, 100, 100, .35); position: fixed;" role="dialog">
      <div class="mdl-card mdl-shadow--8dp full-width" style="margin: 150px auto; max-width: 650px;">
        <div class="mdl-card__title mdl-card--border mdl-color--blue mdl-color-text--white">
          <span class="mdl-card__title-text">Linsay Lakes</span>
        </div>
        <div class="mdl-card__supporting-text full-width">
          <img src="http://www.hotelabq.com/sites/hotelabq.com/files/website/Hero/Hotel-Albuquerque-Old-Town-Weddings-Venues.jpg" alt="Wedding Venue" width="100%">
        </div>
        <div class="mdl-card__supporting-text full-width">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Venue Info" name="venueInfo">
              <md-content class="md-padding" style="background-color: white;">
                <p>
                  {This is where the venue's disclaimer will go.}
                </p>
              </md-content>
            </md-tab>
            <md-tab label="Contact Info" name="contactInfo">
              <md-content class="md-padding" style="background-color: white;">
                <dl class="">
                  <dt>Main Contact</dt>
                  <dd>Austin Teague</dd>
                  <dt>Phone Number</dt>
                  <dd>832-922-7104</dd>
                  <dt>Email</dt>
                  <dd>austin@vendly.com</dd>
                  <dt>Website</dt>
                  <dd>vendly.com</dd>
                </dl>
              </md-content>
            </md-tab>
          </md-tabs>              
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey pull-right" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
