<style>
  .pull-right { float: right; }
  .mdl-menu__item a { text-decoration: none; }
  .no-underline, .no-underline:hover { text-decoration: none !important; }
  .mdl-tabs__tab.is-active { color: #455A64 !important; background-color: #E3F2FD; width: 100%; text-align: left; }
  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after { background: #FF8A80; }
  .mdl-tabs__tab-bar, .mdl-tabs__tab-bar a { display: block; text-align: left; }
  .mdl-data-table.vendly-no_border, .mdl-data-table.vendly-no_border th, .mdl-data-table.vendly-no_border td {border-color: transparent !important; padding-left: 8px !important; padding-bottom: 0 !important; padding-top: 0px !important;}
  .mdl-data-table, th, td { padding: 0 8px !important;}
  .mdl-switch__label { left: 16px; }
  md-input-container { margin-bottom: 0; width: 100%; }
</style>

<div ng-controller="GeneralPageController" class="row p-t-2">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="col-xs-12 col-md-4 p-b-2">
			<div class="hidden-sm-down">
				<p align="center">
					<img src={{user_settings.avatar}} alt="" style="border-radius: 5em; width: 55%; max-width: 100px;">
				</p>
				<h4 align="center" class="p-b-2">
					{{user_settings.name}}
				</h4>
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#acct_info" class="mdl-tabs__tab no-underline full-width is-active">
					<i class="fa fa-user p-r-1"></i>
					Account Information
				</a>                  
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#password" class="mdl-tabs__tab no-underline full-width">
					<i class="fa fa-lock p-r-1"></i>
					Password
				</a>
			</div>
			<div class="mdl-tabs__tab-bar">
				<a href="#notifications" class="mdl-tabs__tab no-underline full-width">
					<i class="fa fa-bell p-r-1"></i>
					Notifications
				</a>
			</div>
		</div>
		
		<div class="col-xs-12 col-md-8 p-b-2" style="padding-bottom: 30px;">
			<div class="mdl-tabs__panel is-active m-b-2" id="acct_info" style="margin-bottom: 30px;">
        <div class="mdl-card mdl-shadow--4dp card" style="width: 100%;">
          <div class="vendly-cover_photo_container">
            <img class="card-img full-width" src="http://vendly.com/assets/team/team-bg-1.jpg" alt="Team Background" style="height: 170px; border-radius: 0">
            <div class="vendly-cover_photo_overlay">
              <label class="vendly-cover_photo_upload">
                <i class="material-icons">camera_alt</i><br>
                Change Cover Image
                <input type="file" id="coverImg" hidden/>
              </label>
            </div>
          </div>
          <div class="card-block p-t-0" style="padding-top: 0;">
            <div class="vendly-avatar_container" style="position: relative;">
              <img src={{user_settings.avatar}} class="card-img-top vendly-avatar" alt="" style="background-color: #EFEFEF;">
              <div class="vendly-avatar_overlay">
                <label class="vendly-avatar_upload">
                  <i class="material-icons">camera_alt</i><br>
                  Change Image
                  <input type="file" id="avatarImg" hidden/>
                </label>
              </div>
            </div>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="Personal Info">
                <md-content class="md-padding" style="background-color: white;">
                  <form class="row">
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>First Name</label>
                        <input ng-model="user_settings.name">
                      </md-input-container>                      
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Last Name</label>
                        <input ng-model="user_settings.name">
                      </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Email</label>
                        <input ng-model="user_settings.email">
                      </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Phone #</label>
                        <input ng-model="user_settings.phone">
                      </md-input-container>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white pull-right" ng-click="updateProfile()"> Save Changes</button>
                  </form>
                </md-content>
              </md-tab>
              <md-tab label="Business Info">
                <md-content class="md-padding" style="background-color: white;">
                  <form class="row">
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Company Email</label>
                        <input ng-model="user_settings.bus_name">
                      </md-input-container>                      
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Company Phone #</label>
                        <input ng-model="user_settings.phone">
                      </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Company Website</label>
                        <input ng-model="user_settings.website">
                      </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <md-input-container>
                        <label>Location</label>
                        <input ng-model="user_settings.location">
                      </md-input-container>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white pull-right" ng-click="updateProfile()"> Save Changes</button>
                  </form>
                </md-content>
              </md-tab>
              <md-tab label="Disclaimer">
                <md-content class="md-padding" style="background-color: white;">
                  <form>
                    <md-input-container class="md-block">
                      <label>Write any legal disclaimers related to your company</label>
                      <textarea ng-model="user.biography" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                  </form>
                </md-content>
              </md-tab>
            </md-tabs>
          </div>
        </div>
			</div>
			
			<div class="mdl-tabs__panel m-b-2" id="password" style="margin-bottom: 30px;">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title p-b-0" style="padding-bottom: 0;">
						<h4 class="mdl-card__title-text">
							Update Password
						</h4>
					</div>
					<div class="mdl-card__supporting-text full-width">
						<form action="#">
              <div class="row p-x-2">
								<div class="col-xs-12 col-sm-6">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
										<input ng-model="user_settings.password" class="mdl-textfield__input" type="password">
										<label class="mdl-textfield__label">Current Password</label>
									</div>
								</div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
										<input ng-model="user_settings.newPassword" class="mdl-textfield__input" type="password">
										<label class="mdl-textfield__label">New Password</label>
									</div>
								</div>
                <div class="col-xs-12 col-sm-6">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
										<input class="mdl-textfield__input" type="password">
										<label class="mdl-textfield__label">Confirm New Password</label>
									</div>
								</div>
								<div class="col-xs-12">
									<button ng-click="changePassword()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white pull-right">Update Password</button>
								</div>
              </div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="mdl-tabs__panel m-b-2" id="notifications" style="margin-bottom: 30px;">
				<div class="mdl-card mdl-shadow--2dp full-width">
					<div class="mdl-card__title">
						<span class="mdl-card__title-text">
							Notifications
						</span>
					</div>
          <div class="mdl-card__supporting-text full-width">
            <form>              
              <table class="mdl-data-table mdl-js-data-table full-width">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">In-App</th>
                    <th style="text-align: center">None</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Upcoming Deadlines</td>
                    <td style="text-align: center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="upcomingDeadlines" value="email" checked />
                      </label>
                    </td>
                    <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="upcomingDeadlines" value="inapp" />
                     </label>
                   </td>
                   <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="upcomingDeadlines" value="none" />
                     </label>
                   </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Event Detail Changes</td>
                    <td style="text-align: center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="eventDetailChanges" value="email" checked />
                      </label>
                    </td>
                    <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="eventDetailChanges" value="inapp" />
                     </label>
                   </td>
                   <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="eventDetailChanges" value="none" />
                     </label>
                   </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Payment Notifications</td>
                    <td style="text-align: center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="paymentNotifications" value="email" checked />
                      </label>
                    </td>
                    <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="paymentNotifications" value="inapp" />
                     </label>
                   </td>
                   <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="paymentNotifications" value="none" />
                     </label>
                   </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Vendly Product Updates</td>
                    <td style="text-align: center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="productUpdates" value="email" checked />
                      </label>
                    </td>
                    <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="productUpdates" value="inapp" />
                     </label>
                   </td>
                   <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="productUpdates" value="none" />
                     </label>
                   </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Trusted Partners of Vendly</td>
                    <td style="text-align: center">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="trustedPartners" value="email" checked />
                      </label>
                    </td>
                    <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="trustedPartners" value="inapp" />
                     </label>
                   </td>
                   <td style="text-align: center">
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                       <input type="radio" class="mdl-radio__button" name="trustedPartners" value="none" />
                     </label>
                   </td>
                  </tr>
                </tbody>
              </table>
              <div class="pull-right p-t-1" style="padding-top: 15px;">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--blue mdl-color-text--white">
                  Save Changes
                </button>                
              </div>
            </form>
          </div>
				</div>
      </div>

		</div>
	</div>
</div>
