<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="#/dashboard">Dashboard</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#/settings/account">Account</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span> Notifications </span>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="GeneralPageController">
  <div class="col-xs-12">
    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light no-margin">
      <div class="portlet-title">
        <div class="page-title">
          My Notifications
        </div>
      </div>
    </div>
  </div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN Subscriptions -->
  <div class="row">
    <div class="col-xs-12">
      <form action="#">
          <table class="table table-light table-hover">
            <th class="no-border-top border-bottom-default border-bottom" style="text-align: center;"> </th>
            <th class="no-border-top border-bottom-default border-bottom" style="text-align: center"> Email </th>
            <th class="no-border-top border-bottom-default border-bottom" style="text-align: center"> In-App </th>
            <th class="no-border-top border-bottom-default border-bottom" style="text-align: center"> None </th>
            <th class="no-border-top border-bottom-default border-bottom" style="text-align: center"> Push Alerts
              <i class="fa fa-question-circle font-grey-salt" style="font-size: 16px;" data-toggle="tooltip" data-placement="top" title="Desktop Notifications"></i>
            </th>

            <tr>
              <td>
                <h4>Upcoming Deadlines</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios1" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios1" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios1" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios1" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Granted Access to Handbook</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios2" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios2" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios2" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios2" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Event Details Changed</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios3" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios3" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios3" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios3" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Payment Notifications</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios4" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios4" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios4" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios4" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>New Message</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios5" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios5" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios5" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios5" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Product Updates</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios6" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios6" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios6" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios6" value="push" />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Messages from Trusted 3rd Parties</h4>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios7" value="email" checked />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios7" value="inapp" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios7" value="none" />
                  <span></span>
                </label>
              </td>
              <td align="center">
                <label class="mt-checkbox">
                  <input type="checkbox" name="optionsRadios7" value="push" disabled />
                  <span></span>
                </label>
              </td>
            </tr>


          </table>
          <!--end profile-settings-->
          <div class="margin-top-10">
              <a href="javascript:;" class="btn blue"> Save Changes </a>
          </div>
      </form>
    </div>
  </div>
<!-- END MAIN CONTENT -->
</div>

<!-- BEGIN MAIN JS-->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  ComponentsBootstrapSelect.init(); // init todo page
  ComponentsSelect2.init(); // init todo page
  // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
